form[name='booking'] {
  width: 100%;
  // user notice to fill in the data and proceed to the next step
  &>div:first-of-type {
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
  }

  &>br[clear='all'] {
    display: none;
  }

  /* YACHT DETAILS */
  table.yacht_details {
    width: 100%;

    th {
      text-align: left;
      font-size: 14px;
      line-height: 24px;
      color: #0b5eb5;
    }
    td {
      line-height: 20px;
      vertical-align: top;
    }
  }

  table.booking-detail {
    width: 100%;
  }

  td.table-title {
    padding-right: 1rem;
    font-weight: 700;
  }

  td.table-title label {
  }

  td.table-title strike {
  }

  td.table-data {
    padding-right: 2rem;
  }

  td.table-data-last {
    text-align: right;
    padding-right: 1rem;
    white-space: nowrap;
  }

  // "Detaily lodi"
  table.search_result {
    //width: 100%;
  }

  // for some weird reason this table is not wrapped in box_content div
  table.price-info {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;

    input[name='discount'] {
      max-width: 7rem;
    }

    // this table has data and title columns swapped.. would you believe that???
    .table-data {
      font-weight: 700;
    }

    .table-title {
      font-weight: normal;
    }
  }

  div.total-price-title {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    /*color:#0b5eb5;*/
    font-weight: bold;
    float: left;
    width: 200px;
  }

  div.total-price {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #B81315;
    font-weight: bold;
    float: right;
    width: 200px;
    text-align: right
  }

  // =================== client info =========================
  div.box_title {
    width: 100%;
  }

  div#contact_info_content {
    div#advance_contact_info_content {
      .box_content {
        // you wonder what this class does here?? me too...
        table.search_result {
          width: 100%;

          // form in yacht details page
          .formField {
            width: auto;
          }

        }
      }
    }
  }

  // =================== booking actions ======================
  #booking_actions_content {
    text-align: center;
    // poslat nabidku
    .btn.btn-default.action-button {
      background-color: @primary-color;
    }

    // prednost pri koupi
    .btn.btn-warning.action-button {
      background-color: @secondary-color;
    }

    // prima objednavka
    .btn.btn-success.action-button {
      background-color: @blue-900;
      // Bara wanteed to get rid of this button completely
      display: none;
    }
  }

  // ============= no idea where this belongs to ==============
  .box_content_images {
    border-bottom: solid 1px #0b5eb5;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .box_content_images_main {
    float: left;
    width: 446px;
    height: 336px;
    overflow: hidden;
  }

  .box_content_images_side {
    float: right;
    width: 216px;
    height: 336px;
    overflow: hidden;
  }

  .vr {
    float: left;
    width: 446px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .vr a {
    display: block;
    margin-left: 14px;
    background-color: #153954;
    color: #D2D1D1;
    line-height: 24px;
    width: 446px;
    text-align: center;
  }

  .vr a:hover {
    text-decoration: none;
    color: #B9024D;
  }

  .more_pic {
    float: right;
    width: 216px;
    padding-top: 10px;
  }

  .more_pic a {
    display: block;
    margin-right: 14px;
    background-color: #dddddd;
    line-height: 24px;
    width: 216px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000000;
  }

  .more_pic a:hover {
    text-decoration: none;
    color: #0b5eb5;
  }

  table.prices {
    width: 100%;
  }

  table.prices th {
    text-align: center;
    background-color: #dddddd;
  }

  table.prices td.price {
    font-weight: bold;
    border-left: solid 1px #dddddd;
  }

  table.prices td {
    border-right: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
  }

  table.yachts {
    width: 100%;
  }

  table.yachts th {
    text-align: center;
    background-color: #153954;
    line-height: 20px;
    font-size: 11px;
  }

  table.yachts td.yachts {
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    border-left: solid 1px #153954;
  }

  table.yachts td.price {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
  }

  table.yachts td {
    border-right: solid 1px #153954;
    border-bottom: solid 1px #153954;
    text-align: center;
  }

  /* YACH LIST (our fleet - yachts) */
  div.wbm_yachtlist_modelkind {
    font-weight: bold;
    font-size: 14px;
  }

  div.wbm_yachtlist_box {
    float: left;
    width: 24%;
    text-align: center;
    margin-bottom: 2px;
    min-height: 120px;
  }

  div.wbm_yachtlist_image {
  }

  div.wbm_yachtlist_info {
  }
}
