// pseudo-grid... omg...
div.box_content div.box_content_width {
  width: 100%
}

div.box_content div.column1 {
  width: 23%;
  float: left;
}

div.box_content div.column2 {
  width: 33%;
  float: left;
}

div.box_content div.column3 {
  width: 20%;
  float: left;
}

div.box_content div.column4 {
  width: 23%;
  float: left;
}
