/* SMALL SEARCH FORM */
div.wbm_ssf_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  //height: 44px;
  align-items: center;

  padding: 4px;
  background-color: @primary-color;
  color: @white;

  // hide redundant elements.. i know, this is super-crazy hack...
  // oh, how much I hate the styling of iframes...
  .title,
  :nth-child(16),
  :nth-child(17),
  :nth-child(19),
  :nth-child(21) {
    display: none;
  }

  & > .clear:nth-of-type(2n - 1) {
    flex-basis: 100%;
  }

  .left_data {
    padding-bottom: 1.5rem;

    .cell {
      line-height: 36px;
      font-weight: 700;
      padding-left: 0.4rem;
      padding-right: 0.4rem;
    }
  }

  .right_data {
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    input,
    select {
      .form-control();
      padding: 0.2rem;
      display: inline-block;
      width: 16rem;
    }

    #filter_country,
    #filter_region,
    #filter_base {
      width: 10rem;
    }

    #filter_year_id {
      width: 7rem;
    }

    #filter_month_id,
    #filter_date_id,
    #filter_duration {
      width: 5rem;
    }
  }

  .submit {
    padding-left: 1rem;
    padding-right: 1rem;
    input[type='submit'] {
      .btn();
      background-color: @secondary-color;
      color: @white;
      font-weight: 700;
      &:hover {
        color: @blue-900;
      }
    }
  }

  .advancedsearch {
    a {
      .btn();
      background-color: @white;
      color: @primary-color;
      font-weight: 700;
      &:hover {
        color: @blue-900;
      }
    }
  }
}
