extends ./page-layout
include ./mixins/coverImage

block content
    +coverImage(item.pCoverPhoto.value[0].url, item.pCoverPhoto.value[0].description)

    .container
        .row
            .col-sm-12
                h1.page-header #{item.pTitle.value}

                p.lead #{item.pLeadingParagraph.value}


        .row
            .col-sm-12
                | !{item.pBody.getHtml()}

        block more
