extends ../../base-page
include ../../mixins/faq-link
include ../../mixins/faq-header

block more
    .row
        .col-sm-12
            ol.faq-list
                each faq in item.faqs
                    li.faq-list__item
                        +faqLink(faq.question.value, faq.friendlyUrl.value)

    .row
        .col-sm-12
            ol.faq-list
                each faq in item.faqs
                    li.faq-list__item
                        +faqHeader(faq.question.value, faq.friendlyUrl.value)
                        div.faq-list__item--answer
                            | !{faq.answer.getHtml()}
