extends ../../base-page
include ../../mixins/logo-boat

block more
    .row
        .col-sm-12
            ol.faq-list
                each faq in item.faqs
                    li.faq-list__item
                        .faq-list__item--link
                            a(href='#' + faq.friendlyUrl.value)
                                | #{faq.question.value}

    .row
        .col-sm-12
            ol.faq-list
                each faq in item.faqs
                    li.faq-list__item
                        div(id=faq.friendlyUrl.value).faq-list__item--question
                            div.text-center
                                a(href="#").up-link
                                    +logo-boat('', '40px')
                                    p Nahoru
                            h4(name='#' + faq.friendlyUrl.value)
                                | #{faq.question.value} &nbsp;

                        div.faq-list__item--answer
                            | !{faq.answer.getHtml()}
