extends ../../page-layout
include ../../mixins/coverImage
include ../../mixins/headerMetadata

block append meta
    +headerMetadata(item)

block content
    article
        +coverImage(item.pCoverPhoto.value[0].url, item.pCoverPhoto.value[0].description)

        .container
            header
                .row
                    .col-sm-12
                        h1.page-header
                            | #{item.pTitle.value}
                        p.text-muted
                            | #{moment(new Date(item.published.value)).format('DD.MM.YYYY')}
                        p.lead
                            | #{item.pLeadingParagraph.value}

            .row
                .col-sm-12
                    | !{item.pBody.getHtml()}
