

@faq-transition: 0.3s;
ol.faq-list {
  padding-left: 0px;
  counter-reset: item;

  > li {
    padding-top: 0.8em;

    list-style-type: none;
    counter-increment: item;

    .faq-list__item--question {

      &,
      a {
        font-family: @headings-font-family;
        font-size: @font-size-h4;
        color: @headings-color;
      }

      &:before {
        display: inline-block;
        padding-right: 0.5em;
        text-align: right;
        content: counter(item) ".";
      }

    }
  }
}
//
//.faq-list__item--answer {
//  opacity: 1;
//  height: auto;
//  max-height: 300px;
//
//  -webkit-transition: max-height @faq-transition ease-in-out;
//  -moz-transition: max-height @faq-transition ease-in-out;
//  -o-transition: max-height @faq-transition ease-in-out;
//  transition: max-height @faq-transition ease-in-out;
//}

.faq-list__item--answer-collapsed {
  display: none;
  //max-height: 0;
  //overflow-y: hidden;
}
