ol.faq-list {
  padding-left: 0px;
  counter-reset: item;

  > li {
    padding-top: 0.8em;

    list-style-type: none;
    counter-increment: item;

    .up-link {
      color: @secondary-color;
    }

    .faq-list__item--question {
      h4::before {
        padding-right: 0.5em;
        text-align: right;
        content: counter(item) ".";
      }
    }

    .faq-list__item--link {
      a::before {
        display: inline-block;
        padding-right: 0.5em;
        text-align: right;
        content: counter(item) ".";
      }
    }

    .faq-list__item--answer {
      h1, h2, h3, h4, h5, h6 {
        color: @gray-dark;
      }

      ol {
        list-style: decimal;
        ol {
          list-style: lower-latin;
        }
      }
    }
  }
}


