.footer {
    margin-top: 2rem;

  .container {
    width: 100%;
    padding: 2rem;
    background-color: @blue-600;
    color: @blue-200;

    &.copyright {
      line-height: 1rem;
      text-align: center;
      background-color: @blue-900;
      color: @blue-200;
    }
  }
}
