//iframe wrapper
div.small-search__wrapper {
  width: 100%;
  position: relative;

  &.overlay {
    position: absolute;
    // top property set by javascript
  }

  #cover-video-heading {
    font-size: @font-size-h3;
    text-align: center;

    &.overlay {
      color: @white;
    }
  }

  .booking-manager__container--small {
    padding: 0;
    width: 100%;
    background-color: rgba(225, 94, 16, 0.9);

    &.overlay {
      background-color: rgba(225, 94, 16, 0.5);
    }

    iframe {
      background-color: transparent;
      display: none;
    }

    .spinner {
      margin: 0;
      width: auto;
    }
  }
}

