//iframe wrapper
div.booking-manager__container--small {
  width: 100%;
//  background-color: rgba(105,100,100,0.7);
  background-color: rgba(225, 94, 16, 0.5);
  padding: 0;

  iframe {
    background-color: transparent;
  }
}
