.news-post-preview__wrapper {
}

.news-post-preview__teaser-image--circle {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  background-position: 40% 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  img {
    max-height: 100%;
    position: absolute;
  }
}
