body {
  padding-top: @navbar-height;

  .no-padding {
    padding: 0;
  }
}

ol.list-roman {
  list-style: upper-roman;
}

.navigable-element {
  .fix-navbar-heading-interference();
}

#social-media-icon {
  padding-right: 0.7rem;

  // colors
  &.footer {
    fill: @blue-50;
    stroke: @blue-50;

    &:hover {
      fill: @white;
      stroke: @white;
    }
  }

  &.header, &.page{
    fill: @primary-color;
    stroke: @primary-color;

    &:hover {
      fill: @secondary-color;
      stroke: @secondary-color;
    }
  }
}
