extends ../html-layout

block body
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .inner.cover
                    img(src="/img/drafter-logo.png", class="logo")
                    p.lead
                        | Chystáme nový web
                    p.contact
                        a(href='mailto:dankovcik@drafter.sk') dankovcik@drafter.sk
                        | &nbsp;| +412&nbsp;907&nbsp;122&nbsp;336
                .mastfoot
                    .inner
                        p
                            | Created by <a href='http://github.com/Suzii'>@Suzii</a> 2017
