mixin contactData(data)
    dl.dl-horizontal
        dt Email:
        dd
            a(href="mailto:charter@inyacht.cz") charter@inyacht.cz

        dt Telefon:
        dd +420 123 456 789

        dt Facebook:
        dd InYacht -- TODO

        dt Instagram:
        dd inyacht -- TODO

        dt Twitter:
        dd in_yacht -- TODO
