extends ../base-page

block more
    .row
        .col-sm-12
            blockquote
                p Moře dává člověku novou naději, stejně jako spánek dává nové sny.
                footer Poselství Kryštofa Kolumba je staré přes 500 let, a přesto je v něm moudrost platná i v dnešní době. Moře a jachting jsou krásný koníček i životní styl, a my Vám pomůžeme Váš sen zrealizovat.

