extends ../base-page
include ../mixins/invoiceData
include ../mixins/contactData

block more
    .row
        .col-xs-12.col-sm-6
            h3 #{item.invoiceDataSectionTitle.value}
            +invoiceData(item.invoiceData[0])
        .col-xs-12.col-sm-6
            h3 Kontakty
            +contactData(item.contactData[0])
