extends ../page-layout
include ../mixins/coverImage

block globals
    - var currentRoute = "index"

block content
    .container-fluid.no-padding
        .cover-video
            video(
            type="video/mp4"
            src="https://assets.kenticocloud.com:443/c93a27a6-8556-45f6-b5e0-6fa74415f3b2/e7a0773e-ab33-4a33-b69b-5d74cce5c006/cover-12mb.mp4"
            poster="/img/cover-poster.png"
            loop
            autoplay
            muted
            )

    .container
        .row
            .col-sm-12
                h1.page-header O nás
                p.lead Chcete zazit nezapomenutelnou dovolenou? Ste tady spravne!

        .row
            .col-sm-12
                | TODO
