extends ../page-layout
include ../mixins/coverImage

block content
    +coverImage("https://assets.kenticocloud.com:443/c93a27a6-8556-45f6-b5e0-6fa74415f3b2/4fdfbd65-1e47-4a90-b161-140562013cb7/contact_cover.jpg", "Contact cover image.")

    .container
        .row
            .col-sm-12
                h1.page-header Kontakt
                p.lead Ať už Vám není jasné, jak funguje náš online vyhledávač, nebo Vás zajímá něco ohledně kapitánských kurzů, či si prostě jenom o dovolených na moři chcete popovídat, využijte prosím jednu z cest, jak se s námi spojit. Budeme se těšit!

        .row
            .col-xs-12.col-sm-6
                h3 Fakturační údaje
                address
                    strong InYacht s.r.o.
                    br
                    | Údolí 100
                    br
                    | 403 40 Ústí nad Labem
                    br
                    | IČ: 12345678
                    br
                    | DIČ: CZ12345678
            .col-xs-12.col-sm-6
                h3 Kontakty
                dl.dl-horizontal
                    dt Email:
                    dd
                        a(href="mailto:charter@inyacht.cz") charter@inyacht.cz

                    dt Telefon:
                    dd +420 123 456 789

                    dt Facebook:
                    dd InYacht -- TODO

                    dt Instagram:
                    dd inyacht -- TODO

                    dt Twitter:
                    dd in_yacht -- TODO

