extends ../page-layout
include ../mixins/coverImage

block content
    +coverImage(item.coverImage.value[0].url, item.coverImage.value[0].description)

    .container
        .row
            .col-sm-12
                h1.page-header #{item.title.value}

                p.lead #{item.leadingParagraph.value}


        .row
            .col-sm-12
                | !{item.text.getHtml()}

                blockquote
                    p Moře dává člověku novou naději, stejně jako spánek dává nové sny.
                    footer Poselství Kryštofa Kolumba je staré přes 500 let, a přesto je v něm moudrost platná i v dnešní době. Moře a jachting jsou krásný koníček i životní styl, a my Vám pomůžeme Váš sen zrealizovat.

