extends ../page-layout
include ../mixins/coverImage

block globals

block content
    +coverImage(item.coverImage.url, item.coverImage.description)

    .container
        .row
            .col-sm-12
                h1.page-header #{item.title}
                p.lead #{item.leadingParagraph}


        .row
            .col-sm-12
                | !{item.text}

                blockquote
                    p Moře dává člověku novou naději, stejně jako spánek dává nové sny.
                    footer Poselství Kryštofa Kolumba je staré přes 500 let, a přesto je v něm moudrost platná i v dnešní době. Moře a jachting jsou krásný koníček i životní styl, a my Vám pomůžeme Váš sen zrealizovat.

