doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="TODO")
        meta(name="author", content="Suzii")
        link(rel="icon", href="/img/favicon.ico", type="image/x-icon")
        link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
        title InYacht - #{title}
        block styles
            link(rel="stylesheet", href="/css/oops.css")
    body
        block body
            .oops-page
                .oops-page__title
                    h1 Najděte vysněnou loď pro Vaší dovolenou na moři!
                .oops-page__subtitle
                    | Jiz brzy s
                    img(src="/img/logo-inverse.png" height="100px")
